.form-group {
    margin-bottom: 0.2rem;
  }
  .form-control {
    border-color: #007bff;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #007bff;
    opacity: 1; /* Firefox */
  }
  .card-body {
    padding: 0.5rem;
  }
  .card-header {
    padding: .35rem 0.25rem;
    margin-bottom: 0px;
  }
  .card-footer {
    padding: 0.1rem 0.1rem;
    margin-bottom: 0px;
  }
  table.table-bordered{
    border:1px solid #007bff;
  }
  table.table-bordered > thead > th{
    border:1px solid #007bff;
    padding: .25rem;
  }
  table.table-bordered > tbody > tr > td{
    border:1px solid #007bff;
    padding: .25rem;
  }
  .font-weight-bold {
    font-weight: 600!important;
  }
  .col-form-label {
    padding-top: calc(.275rem + 1px);
    padding-bottom: calc(.275rem + 1px);
  }
  .form-check-input{
    width : 2.0rem;
    height: 1.1rem;
  }
  
  
  