<div class="container">
    <form>
    <div class="card">
      <div class="card-header h4 text-white bg-primary">
          <i class="fa fa-user fa-fw"></i>&nbsp;Add User
      </div>

      <div class="card-body text-primary">
          <div class="row">
              <label for="title" class="font-weight-bold col-3 col-form-label">Title :</label>
            <div class="col-7 form-group">
            <select class="custom-select" id="title" >
                <option selected>Select Title.</option>
                <option value="1">Mr.</option>
                <option value="2">Mrs.</option>

              </select>
            </div>
          </div>
          <div class="row">
              <label for="firstName" class="font-weight-bold col-3 col-form-label">First Name :</label>
            <div class="col form-group">
                <input type="text" Id="firstName" class="form-control" placeholder="Enter Fisrt Name">
            </div>
          </div>
          <div class="row">
              <label for="lastName" class="font-weight-bold col-3 col-form-label">Last Name :</label>
            <div class="col form-group">
                <input type="text" Id="lastName" class="form-control" placeholder="Enter Last Name">
            </div>
          </div>
          <div class="row">
              <label for="employeeId" class="font-weight-bold col-3 col-form-label">Employee Id :</label>
            <div class="col form-group">
                <input type="text" Id="employeeId" class="form-control" placeholder="Enter Employee ID">
            </div>
          </div>
          <div class="row">
              <label for="phoneno" class="font-weight-bold col-3 col-form-label">Phone No. :</label>
            <div class="col form-group">
                <input type="text" Id="phoneno" class="form-control" placeholder="Enter Phone Number">
            </div>
          </div>
          <div class="row">
              <label for="email" class="font-weight-bold col-3 col-form-label">Email :</label>
            <div class="col form-group">
                <input type="text" Id="email" class="form-control" placeholder="Enter Email Address">
            </div>
          </div>
          <div class="row">
              <label for="department" class="font-weight-bold col-3 col-form-label">Department :</label>
            <div class="col form-group">
                <select class="custom-select" id="department">
                    <option selected>Select Department.</option>
                    <option value="1">Admin</option>
                    <option value="2">Human Resource</option>
                    <option value="3">Finance</option>
                  </select>
            </div>
          </div>
          <div class="row">
              <label for="role" class="font-weight-bold col-3 col-form-label">Role :</label>
            <div class="col form-group">
                <select class="custom-select" id="role">
                    <option selected>Select Role.</option>
                    <option value="1">Super Admin</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                    <option value="3">Gate Man</option>
                  </select>
            </div>
          </div>

      </div>
      <div class="card-footer">

             <button type="button" class="btn btn-primary mr-5"><i class="fa fa-save fa-fw"></i>&nbsp;Save</button>


        <button type="button" class="btn btn-primary"><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
      </div>

    </div>
    </form>
    </div>
